<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>2048 showcase</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/main.css">
    </head>
    <body>
        <header>
            <h1>2048 Showcase</h1>

            <div class="filters">
                <ul class="list-inline">
                    <li><a class="filter" data-filter="all">All</a></li>
                    <li><a class="filter" data-filter="original">Original</a></li>
                    <li><a class="filter" data-filter="numbers">Numbers</a></li>
                    <li><a class="filter" data-filter="words">Words</a></li>
                    <li><a class="filter" data-filter="images">Images</a></li>
                </ul>
            </div>
        </header>
        <div class="container" id="main">
            <ul id="games-list" class="row">
            </ul>
        </div>
        <footer>
            <p>About 2048 · This showcase is made by Abimael Martell · 2014</p>
        </footer>
        <script type="text/template" id="game-template">
            <li class="mix col-sm-3 <%= game.tags.join(" ") %>">
                <article style="background-image: url(assets/screenshots/<%= game.screenshot || "none.jpg" %>)">
                    <a target="_blank" href="<%= game.url %>">
                        <h2><%= game.title %></h2>
                        <p><%= game.description %></p>
                    </a>
                </article>
            </li>
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/mixitup/1.5.6/jquery.mixitup.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src="assets/data.js"></script>
        <script src="assets/main.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-39747273-1', 'abimaelmartell.com');
          ga('send', 'pageview');
        </script>
    </body>
</html>
